h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: var(--font-size-giant-1);
}

h2 {
  font-size: var(--font-size-large-2);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--font-size-large-1);
  font-weight: var(--font-weight-bold);
}
h4 {
  font-size: var(--font-size-large-1);
}

p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-200);
}

.content-card {
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius-150);
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: var(--spacing-200);
  padding-block: var(--spacing-500);
  padding-inline: var(--spacing-300);
}

.content-card--column {
  flex-direction: column;
}

.content-card--spacing-large {
  gap: var(--spacing-400);
}

.content-card--space {
  justify-content: space-between;
}

.content-card__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-card__list ::marker {
  font-size: 0;
}

.content-card__list li {
  align-items: center;
  display: flex;
  gap: var(--spacing-150);
  margin-block: 0 var(--spacing-200);
}

.content-card__leading-icon {
  align-items: center;
  background-color: var(--color-background-inverse);
  border-radius: var(--spacing-150);
  color: var(--color-foreground-on-inverse);
  display: flex;
  flex-shrink: 0;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.content-card__row {
  align-items: flex-start;
  display: flex;
  gap: var(--spacing-200);
}

.hero-card {
  border-radius: var(--border-radius-150);
  background-color: var(--color-background-secondary);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  margin-block: var(--spacing-400) var(--spacing-600);
  padding: var(--spacing-400);
}

.hero-card__actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.landing-title {
  margin-block-end: var(--spacing-300);
}

.landing-title p {
  color: var(--color-foreground-secondary);
  margin-block-start: var(--spacing-200);
}

.content-items {
  display: grid;
  gap: var(--spacing-200);
  grid-template-columns: 1fr;
}

.content-card ul,
.content-card ol {
  line-height: var(--spacing-300);
  margin: 0;
  padding-left: var(--spacing-200);
}

@media (min-width: 768px) {
  .content-card__body {
    gap: var(--spacing-200);
  }
  .hero-card__actions {
    flex-direction: row;
    gap: var(--spacing-100);
  }

  .hero-card {
    border-radius: var(--border-radius-150);
    margin-block: var(--spacing-500);
    padding: var(--spacing-600);
  }

  .landing-title {
    margin-block-end: 40px;
  }

  .content-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

.home .page-grid-container {
  margin-block-end: var(--spacing-600);

  > p {
    color: var(--color-foreground-secondary);
    &:last-of-type {
      margin-block-end: var(--spacing-300);
    }
  }
}
