.evo-site-search {
  margin-left: auto;
}

.DocSearch {
  --docsearch-primary-color: var(--color-foreground-primary);
}

.DocSearch-SearchBar {
  --docsearch-highlight-color: var(--color-foreground-on-inverse);
}

header.DocSearch-SearchBar {
  min-height: 76px;
}

.DocSearch .DocSearch-Cancel {
  color: var(--docsearch-primary-color);
}

.DocSearch.DocSearch-Button:hover {
  box-shadow: none;
}

.DocSearch.DocSearch-Button:focus-visible {
  outline-color: revert;
  outline-offset: -2px;
  outline-style: solid;
  outline-width: 2px;
}

.DocSearch.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--docsearch-primary-color);
  height: 18px;
  stroke-width: 2px;
  width: 18px;
}

.DocSearch-LoadingIndicator svg,
.DocSearch-MagnifierLabel svg {
  color: var(--docsearch-primary-color);
}

.DocSearch .DocSearch-Form {
  box-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
}

.DocSearch .DocSearch-Hit-source {
  color: var(--docsearch-primary-color);
}

.DocSearch .DocSearch-Hit[aria-selected="true"] a {
  background-color: var(--docsearch-primary-color);
}

.DocSearch .DocSearch-Hits mark {
  color: var(--docsearch-primary-color);
}

/* Site search collapsed element for small screens */
@media all and (max-width: 767px) {
  .DocSearch.DocSearch-Button {
    background-color: var(--color-background-secondary);
    border: none;
    border-radius: 50%;
    height: 40px;
    justify-content: center;
    margin-block-start: 2px;
    margin-inline-end: 6px;
    padding: 0;
    width: 40px;
  }

  // .DocSearch.DocSearch-Button:focus-visible {
  //     outline-style: solid;
  //     outline-color: revert;
  //     outline-offset: -2px;
  //     outline-width: 2px;
  // }

  .DocSearch.DocSearch-Button:hover {
    background-color: var(--color-state-secondary-hover);
  }
}

@media all and (min-width: 768px) {
  .DocSearch.DocSearch-Button {
    background-color: transparent;
    border: none;
    border: 1px solid var(--color-stroke-default);
    justify-content: right;
  }

  .DocSearch.DocSearch-Button .DocSearch-Search-Icon {
    color: var(--docsearch-muted-color);
  }

  .DocSearch.DocSearch-Button .DocSearch-MagnifierLabel {
    display: inline;
    margin-inline-start: var(--spacing-s);
  }
}
